<%= form_with model: @user do |f| %>
  <div class="form-all" align="center">
    <i class="fa fa-twitter twitter" aria-hidden="true"></i>
    <ul class="form-contents">
      <li><%= f.text_field :username, class: "form-input", placeholder: ' Enter name', autofocus: true %></li>
      <li><%= f.email_field :email, class: "form-input", placeholder: ' Enter email' %></li>
      <li><%= f.password_field :password, class: "form-input", placeholder: ' Enter password' %></li>
      <li><%= f.submit(class: "form-submit") %></li>
    </ul>
  </div>
<% end %>