<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row rowver1">
      <div class="col-3 application-left">
        <div class="left-sidebar">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
      <div class="col-9 application-center px-0">
        <%= render 'layouts/message' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
